.hint {
    color: grey;

    cursor: default;
    z-index: 1;
}

.input {
    position: absolute;
    background: transparent;
    border: none;
    box-shadow: none;
    z-index: 5;
}

.field {
    display: block;
    float: left;
    position: relative;
}

.field b {
    position: absolute;
    right: 0;
    margin-right: 5px;
    color: #999;
}
