.desc {
    text-align: left;
}

.desc table {
    width: auto;
    float: left;

}

.playlists {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
    padding: 20px;
    background-color: white;

    display: inline-block;
}

.tracklist {
	padding: 80px 20px;
	min-height: 100%;
	width: 100%;
	background: #EEE;
}

.tracklist table {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
    padding: 20px;
    background-color: white;
    width: 100%;
}

.tracklist th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #777;
    color: white;
}

.tracklist td, .tracklist th {
    border: 1px solid #ddd;
    padding: 8px;
}

.tracklist tr:hover {background-color: #ddd;}

.tracklist td {
    border: 1px solid #ddd;
    padding: 8px;
}

.tracklist tr:nth-child(even){background-color: #f2f2f2;}

input {
    border: none;
    outline: none;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

