@import '~style/helpers';

.search {
	padding: 80px 20px;
	min-height: 100%;
	width: 100%;
	background: #EEE;
}

.search table {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
    padding: 20px;
    background-color: white;
    width: 100%;
}

.search th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #777;
    color: white;
}

.search td, .search th {
    border: 1px solid #ddd;
    padding: 8px;
}

.search tr:hover {background-color: #ddd;}

.search td {
    border: 1px solid #ddd;
    padding: 8px;
}

.search tr:nth-child(even){background-color: #f2f2f2;}

